/*
 *Name: Anthony Bulthuis
 *Date: 5/12/2019
 *Description: The css docuement Father's thing
 */
 
.standard {
	image-rendering: pixelated;
	image-rendering: -moz-crisp-edges;
	image-rendering: crisp-edges;
    display: block;
	margin-top: 5%;
	margin-bottom: auto;
    margin-left: auto;
	margin-right: auto;
    width: 100%;
    }
	.option {
	image-rendering: pixelated;
	image-rendering: -moz-crisp-edges;
	image-rendering: crisp-edges;
    display: block;
	margin-top: 5%;
    margin-left: auto;
	margin-right: auto;
    width: 75%;
    }