/*
 *Name: Anthony Bulthuis
 *Date: 5/12/2019
 *Description: The css docuement Mother's thing
 */
 @keyframes upScroll {
	 from { margin-top: 1000px;}
	 to { matgin-top: 20px;}
 }
 
.one {
        
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    animation-name: upScroll;
	animation-duration: 2s;
    }
.two {
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    
}